$mainC:#454367;
nav{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}
.search {
    position: relative;



    input{
        margin:2rem auto ;
        padding: 0.6rem 2.5rem;
        font-size: .875em;
        border-radius: 50px 0 0 50px;
        border: none;
        outline:none ;  
        background-color: $mainC;
        width: 18rem;
        text-transform: capitalize;
        color: white;
    }

    button{
       border-radius:  0 50px 50px 0;
       padding: 0.65rem 0.6rem 0.6rem ;
       border: none;
       color: $mainC;
       
    }
    
  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    pointer-events: none;
    color:white;
    font-size: 1.2rem;
  }

  }
  