.details{
    display: block;
    z-index: 1010;

    animation-duration: 0.7s;
    animation-delay: 2s;
    position: fixed;
    top: 50%;
    left: 50%;
    border-radius: 25px;
    transform: translate(-50%, -50%);
    margin-inline: auto; 
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #000000;
    border: 1px solid #ffffff;
    width: max(30vw,20rem);
    height: max(50vh,fit-content);

    
}